
@{
    ViewBag.Title = "About";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Updates</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-toggle="collapse" data-target="#2018-01-16">
                January 16 2018
                <ul id="2018-01-16" class="collapse">
                    <li>
                        Fixed Windows Authentication.
                    </li>

                    <li>
                        Added Anderson Accounts Index Logo.
                    </li>

                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-12-21">
                December 21 2017
                <ul id="2017-12-21" class="collapse">
                    <li>
                        Added Description Role UI and Functions.
                    </li>

                    <li>
                        Fixed Grid Header Spaces.
                    </li>

                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-12-04">
                December 4 2017
                <ul id="2017-12-04" class="collapse">
                    <li>
                        Added Employee Detail to Grid.
                    </li>
                    <li>
                        Created Role CRUD Grid.
                        Added a new link in the navigation bar.
                    </li>
                    <li>
                        Encoded Current Interns (December 2017).
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-26">
                October 26 2017
                <ul id="2017-10-26" class="collapse">
                    <li>
                        Created about page
                    </li>
                    <li>
                        Fixed Place Holders
                    </li>
                    <li>
                        Removed old Accounts (source code not removed)
                    </li>
                </ul>
            </li>
            <li class="list-group-item" data-toggle="collapse" data-target="#2017-10-25">
                October 25 2017
                <ul id="2017-10-25" class="collapse">
                    <li>
                        Refactored Code
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Developed By</h3>
    </div>
    <div class="panel-body">
        <ul>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/cerck-zeus-cailipan-5ab840143">
                    Cerck Zeus Cailipan
                </a>
                <br />
                <span class="badge">2017-02 - 2017-05</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Julianne Mercado
                <br />
                <span class="badge">2017-05 - 2017-07</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Angela Dulay
                <br />
                <span class="badge">2017-05 - 2017-06</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Hanz Paolo Salando
                <br />
                <span class="badge">2017-08 - 2017-10</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Demelyn Macalinao
                <br />
                <span class="badge">2017-07 - 2017-10</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/ravi-renz-olayres-243292155/">
                    Ravi Renz Olayres
                </a>
                <br />
                <span class="badge">2017-11 - 2018-03</span>
            </li>
            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                Alecks Joseph Plegaria
                <br />
                <span class="badge">2017-11 - 2018-03</span>
            </li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://www.linkedin.com/in/chris-jerico-albino-189238147">
                    Chris Jerico Albino
                    </a>
                    <br />
                    <span class="badge">2017-11 - 2018-03</span>
</li>

            <li class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="https://ph.linkedin.com/in/adrianne-claude-tubig-a4847333">
                    Adrianne Claude R Tubig
                </a>
                <br />
                <span class="badge">2017-10</span>
            </li>
        </ul>
    </div>
</div>

