
@{
    ViewBag.Title = "Index";
}

<div ng-controller="UserController as model" ng-init="model.Initialise()">
    <div class="row">
        <div class="col-sm-4">
            <a href="../User/Create" class="btn btn-default">Create</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover table-sm table-bordered ">
                <thead>
                    <tr class="thead-inverse">
                        <th>UserId</th>
                        <th>IsActive</th>
                        <th>EmployeeId</th>
                        <th>Username</th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Middlename</th>
                        <th>Roles</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="clickableRow" ng-repeat="user in model.Users" ng-click="$event.originalEvent.dropdown || model.GoToUpdatePage(user.UserId)" ng-init="model.UpdateEmployee(user)">
                        <td><span ng-bind="user.UserId"></span></td>
                        <td><span ng-bind="user.IsActive"></span></td>
                        <td><span ng-bind="user.EmployeeId"></span></td>
                        <td><span ng-bind="user.Username"></span></td>
                        <td><span ng-bind="user.Employee.FirstName"></span></td>
                        <td><span ng-bind="user.Employee.LastName"></span></td>
                        <td><span ng-bind="user.Employee.MiddleName"></span></td>
                        <td>
                            <ul>
                                <li ng-repeat="userRole in user.UserRoles">
                                    <span ng-bind="userRole.Role.Name"></span>
                                </li>
                            </ul>
                        </td>
                        <td ng-click="$event.originalEvent.dropdown = true">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" ng-click="model.GoToUpdatePage(user.UserId)">Edit</a></li>
                                    <li><a href="#" ng-click="model.Delete(user.UserId)">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>